# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
bookingwebapp/node_modules/
api/node_modules/

# Environment variables
bookingwebapp/.env
api/.env

# Build output
bookingwebapp/dist/
api/dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?